// code for the popup login

div(class="modal fade"
id="login-modal"
tabindex="-1"
role="dialog"
aria-labelledby="myModalLabel"
aria-hidden="true")
    div(class="modal-dialog")
        div(class="loginmodal-container")
            h1 LOG IN
            form
                input(type="text" name="luser" placeholder="Username")
                span(id="no-username") Must enter user name.
                input(type="password" name="lpass" placeholder="Password")
                span(id="no-password") Must enter a password.
                input(type="submit" name="login" class="login loginmodal-submit"
                value="Login")
                div(class="login-help")
                    a(href="#" data-toggle="modal"
                    data-target="#create-modal") Register
                    br
                    a(href="#") Forgot Password?
