nav(id="mainNav" class="navbar navbar-default navbar-fixed-top")
  .container-fluid
    .navbar-header
      button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1")
        span(class="sr-only") Toggle navigation
        i(class="fa fa-bars")
      .logo
        a(class="navbar-brand page-scroll" href="/")
          span(id="logo-brown") WAR
          span(id="logo-black") MAINS

    div(class="collapse navbar-collapse" id="bs-example-navbar-collapse-1")
      ul(class="nav navbar-nav navbar-right")
        li: a(class='page-scroll' href='/changelog') Change Log
        li: a(class="page-scroll" href="/search") Search
        -if (!user)
          li: a(class="page-scroll" href="/users/login") Login
          li: a(class="page-scroll" href="/users/register") Register
        -if(user)
          li: a(class="page-scroll" href="/character") Characters
          li(class="dropdown")
              a(href="#" class="dropdown-toggle"
              data-toggle="dropdown" role="button"
              aria-haspopup="true" aria-expanded="false") #{user.name}
                  span(class="caret")
              ul(class="dropdown-menu")
                  li: a(class="page-scroll" href="/profile/" + user.username) PROFILE
                  li(role="separator" class="divider")
                  li: a(class="page-scroll" href="/users/logout") LOGOUT

div(class="errors-container")
  -if(error_msg)
      p(class="error-msg") #{error_msg}
  -if(error)
      p(class="error-msg") #{error}
  -if(errors)
      for e in errors
        p(class="error-msg") #{e.msg}
  -if(success_msg)
      p(class="success-msg") #{success_msg}
