doctype html
html(ng-app='editApp' ng-cloak)

  include partials/head.jade
  link(rel='stylesheet', type="text/css" href='/stylesheets/char_edit_style.css')
  script(src="https://cdn.warmane.com/api/tooltip.js")

  body(ng-controller='editctrl' ng-init="gear_view = 'stats'; cur_view='talents'")
    -if(user && username == user.username)
      div(ng-init="permission = true")
    -else
      div(ng-init="permission = false")

    <script>document.body.className += ' fade-out';</script>
    include partials/navbar.jade

    header(ng-class="character.class")
      .header-content
        .header-content-inner
          h1(id="homeHeading") {{character.name}}
          hr
          img(ng-src='/images/spec-icons/{{character.class}}/{{character.spec}}.jpg')
          h3(ng-style="class_color(character.class)") {{character.class}}

    div(class='container' ng-show='character')

      ul(class='list-inline' id='view_tabs')
        li(ng-click="cur_view = 'gearing'")
          h3(class='view_tab'
          ng-class="{'selected_view': cur_view == 'gearing'}") Gearing

        li(ng-click="cur_view = 'talents'")
          h3(class='view_tab'
          ng-class="{'selected_view': cur_view == 'talents'}") Talents

        //li(ng-click="cur_view = 'professions'")
          h3(class='view_tab'
          ng-class="{'selected_view': cur_view == 'professions'}") Professions

      include partials/talents_view.jade

      div(class="col-lg-6 col-md-6 col-sm-6 col-xs-12"  ng-show="cur_view=='gearing'")
        div(class='char_panel')
          .row
            -if (user && username == user.username)
              h4(ng-hide='character.spec' id='choose_spec_text') Choose a spec
              ul(class='list-inline' id='choose_spec')
                li(ng-click='character.spec = class_specs[character.class][0]')
                  img(
                  title='{{class_specs[character.class][0]}}'
                  ng-class="(character.spec == class_specs[character.class][0]) ? 'selected_spec' : 'unselected_spec'"
                  ng-src='/images/spec-icons/{{character.class}}/{{class_specs[character.class][0]}}.jpg'
                  )
                li(ng-click='character.spec = class_specs[character.class][1]')
                  img(
                  title='{{class_specs[character.class][1]}}'
                  ng-class="(character.spec == class_specs[character.class][1]) ? 'selected_spec' : 'unselected_spec'"
                  ng-src='/images/spec-icons/{{character.class}}/{{class_specs[character.class][1]}}.jpg'
                  )
                li(ng-click='character.spec = class_specs[character.class][2]')
                  img(
                  title='{{class_specs[character.class][2]}}'
                  ng-class="(character.spec == class_specs[character.class][2]) ? 'selected_spec' : 'unselected_spec'"
                  ng-src='/images/spec-icons/{{character.class}}/{{class_specs[character.class][2]}}.jpg'
                  )


            ul(class='list-inline')

              li(class='pull-left' id='li_Head')
                a(href="" id='Head_link')
                  div(class='item_slot' id='Head_slot'
                      ng-click="set_slot('Head')"
                      ng-class="{'selected_slot': slot == 'Head'}")
              li(class='pull-right' id='li_Hands')
                a(href="" id='Hands_link')
                  div(class='item_slot' id='Hands_slot'
                      ng-click="set_slot('Hands')"
                      ng-class="{'selected_slot': slot == 'Hands'}")
          .row
            ul(class='list-inline')
              li(class='pull-left' id='li_Neck')
                a(href="" id='Neck_link')
                  div(class='item_slot' id='Neck_slot'
                      ng-click="set_slot('Neck')"
                      ng-class="{'selected_slot': slot == 'Neck'}")
              li(class='pull-right' id='li_Waist')
                a(href="" id='Waist_link')
                  div(class='item_slot' id='Waist_slot'
                      ng-click="set_slot('Waist')"
                      ng-class="{'selected_slot': slot == 'Waist'}")
          .row
            ul(class='list-inline')
              li(class='pull-left' id='li_Shoulders')
                a(href="" id='Shoulders_link')
                  div(class='item_slot' id='Shoulders_slot'
                      ng-click="set_slot('Shoulders')"
                      ng-class="{'selected_slot': slot == 'Shoulders'}")
              li(class='pull-right' id='li_Legs')
                a(href="" id='Legs_link')
                  div(class='item_slot' id='Legs_slot'
                      ng-click="set_slot('Legs')"
                      ng-class="{'selected_slot': slot == 'Legs'}")
          .row
            ul(class='list-inline')
              li(class='pull-left' id='li_Back')
                a(href="" id='Back_link')
                  div(class='item_slot' id='Back_slot'
                      ng-click="set_slot('Back')"
                      ng-class="{'selected_slot': slot == 'Back'}")
              li(class='pull-right' id='li_Feet')
                a(href="" id='Feet_link')
                  div(class='item_slot' id='Feet_slot'
                      ng-click="set_slot('Feet')"
                      ng-class="{'selected_slot': slot == 'Feet'}")
          .row
            ul(class='list-inline')
              li(class='pull-left' id='li_Chest')
                a(href="" id='Chest_link')
                  div(class='item_slot' id='Chest_slot'
                      ng-click="set_slot('Chest')"
                      ng-class="{'selected_slot': slot == 'Chest'}")
              li(class='pull-right' id='li_Finger1')
                a(href="" id='Finger1_link')
                  div(class='item_slot' id='Finger1_slot'
                      ng-click="set_slot('Finger1')"
                      ng-class="{'selected_slot': slot == 'Finger1'}")
          .row
            ul(class='list-inline')
              li(class='pull-left')
                div(class='item_slot' id='Shirt_slot')
                  img(src='/images/empty-slots/UI-EmptyShirt.png')
              li(class='pull-right' id='li_Finger2')
                a(href="" id='Finger2_link')
                  div(class='item_slot' id='Finger2_slot'
                      ng-click="set_slot('Finger2')"
                      ng-class="{'selected_slot': slot == 'Finger2'}")
          .row
            ul(class='list-inline')
              li(class='pull-left')
                div(class='item_slot' id='Tabard_slot')
                  img(src='/images/empty-slots/UI-EmptyTabard.png')
              li(class='pull-right' id='li_Trinket1')
                a(href="" id='Trinket1_link')
                  div(class='item_slot' id='Trinket1_slot'
                      ng-click="set_slot('Trinket1')"
                      ng-class="{'selected_slot': slot == 'Trinket1'}")
          .row
            ul(class='list-inline')
              li(class='pull-left' id='li_Wrist')
                a(href="" id='Wrist_link')
                  div(class='item_slot' id='Wrist_slot'
                      ng-click="set_slot('Wrist')"
                      ng-class="{'selected_slot': slot == 'Wrist'}")
              li(class='pull-right' id='li_Trinket2')
                a(href="" id='Trinket2_link')
                  div(class='item_slot' id='Trinket2_slot'
                      ng-click="set_slot('Trinket2')"
                      ng-class="{'selected_slot': slot == 'Trinket2'}")
          .row
            ul(class='list-inline')
              li(id='li_MainHand'): a(href="" id='MainHand_link')
                div(class='item_slot' id='MainHand_slot'
                    ng-click="set_slot('MainHand')"
                    ng-class="{'selected_slot': slot == 'MainHand'}")
              li(id='li_OffHand'): a(href="" id='OffHand_link')
                div(class='item_slot' id='OffHand_slot'
                    ng-click="set_slot('OffHand')"
                    ng-class="{'selected_slot': slot == 'OffHand'}")
              li(id='li_Ranged'): a(href="" id='Ranged_link')
                div(class='item_slot' id='Ranged_slot'
                    ng-click="set_slot('Ranged')"
                    ng-class="{'selected_slot': slot == 'Ranged'}")

      div(class="col-lg-6 col-md-6 col-sm-6 col-xs-12")
        -if(user && username == user.username)
          include partials/gearing_view.jade
          include partials/professions_view.jade

      -if (user && username == user.username)
        div(class='clearfix visible sm')
      div(class="col-lg-6 col-md-6 col-sm-6 col-xs-12" ng-show="cur_view == 'gearing'")
        div(class='stats_container')
          h3 Net Stats from items
          table(id='stats')
            tbody
              tr(ng-repeat='(key,val) in updated_Stats')
                td(ng-class='key') {{key}}
                td(ng-class='key') {{val}}

    p(ng-show='!character') This character does not exist.
  include partials/footer.jade
  script(src='/js/charedit_helper_vars.js')
  script(src='/js/talents_vars.js')
  script(src='/js/charedit_helper_functs.js')
  script(src='/js/charedit_controller.js')
