doctype html
html(ng-app='editApp' ng-cloak)

  include partials/head.jade
  link(rel='stylesheet', type="text/css" href='/stylesheets/char.css')

  body(ng-controller='editctrl')
      include partials/navbar.jade

      div(class='container' ng-show='character')
        .row
          div(class="col-lg-6 col-md-6 col-sm-6 col-xs-12")
            .char_panel
              .row
                h2(class='pull-center') {{character.name}}
                h5(class='pull-center') {{character.class}}

                div(class='item_slot pull-left' id='head_slot'
                    ng-click="set_slot('Head')")
                div(class='item_slot pull-right' id='hands_slot'
                    ng-click="set_slot('Hands')")
              .row
                div(class='item_slot pull-left' id='neck_slot'
                    ng-click="set_slot('Neck')")
                div(class='item_slot pull-right' id='waist_slot'
                    ng-click="set_slot('Waist')")
              .row
                div(class='item_slot pull-left' id='shoulders_slot'
                    ng-click="set_slot('Shoulders')")
                div(class='item_slot pull-right' id='legs_slot'
                    ng-click="set_slot('Legs')")
              .row
                div(class='item_slot pull-left' id='back_slot'
                    ng-click="set_slot('Back')")
                div(class='item_slot pull-right' id='feet_slot'
                    ng-click="set_slot('Feet')")
              .row
                div(class='item_slot pull-left' id='chest_slot'
                    ng-click="set_slot('Chest')")
                div(class='item_slot pull-right' id='finger1_slot'
                    ng-click="set_slot('Finger1')")
              .row
                div(class='item_slot pull-left' id='shirt_slot')
                div(class='item_slot pull-right' id='finger2_slot'
                    ng-click="set_slot('Finger2')")
              .row
                div(class='item_slot pull-left' id='tabard_slot')
                div(class='item_slot pull-right' id='trinket1_slot'
                    ng-click="set_slot('Trinket1')")
              .row
                div(class='item_slot pull-left' id='wrist_slot'
                    ng-click="set_slot('Wrist')")
                div(class='item_slot pull-right' id='trinket2_slot'
                    ng-click="set_slot('Trinket2')")
              .row
                ul(class='list-inline')
                  li: div(class='item_slot' id='mainhand_slot'
                          ng-click="set_slot('MainHand')")
                  li: div(class='item_slot' id='offhand_slot'
                          ng-click="set_slot('OffHand')")
                  li: div(class='item_slot' id='ranged_slot'
                          ng-click="set_slot('Ranged')")

          div(class="col-lg-6 col-md-6 col-sm-6 col-xs-12")
            if(!user)
              h4 Viewing #{char} while offline.
            -else
              -if(username == user.username)
                h4 #{char} is your character #{username}.
                .row
                    ul(class='list-inline')
                      li: label {{slot}}
                      li: select(class='form-control' ng-model='search_type')
                        option Name
                        option id
                      li: input(type="text" class="form-control" placeholder="Search"
                                ng-model='search_val' ng-change='finditems()')
                      li: button(type="submit" class="btn btn-default"
                                 ng-click="finditems()") Submit
                    p {{message}}
                .row
                  div(class='results_table' ng-style='show_result_table()')
                    table(class='table table-hover')
                      thead
                        tr(ng-style="{'background-color': 'white'}")
                          td
                          td Name
                          td Class
                          td Item Level
                          td Slot
                          td Type
                      tbody
                        tr(ng-repeat="item in items"
                           ng-click='select_search_item(item)')
                          td: img(ng-src='http://wow.zamimg.com/images/wow' +
                                  '/icons/large/{{item.IconPath}}.jpg')
                          td(ng-style='item_quality(item.Quality)') {{item.Name}}
                          td(ng-style='class_color(item.RequiredClasses)')
                            {{item.RequiredClasses}}
                          td {{item.ItemLevel}}
                          td {{item.Slot}}
                          td {{item.Type}}

                  button(class='btn btn-warning' ng-click='equip_item()') Equip
              -else if(user)
                h4 Viewing #{char} as #{user.username}.

          .stats_sheet
            h3 Item stats here.
            table
              tr
                td(class='pull-left') Stamina:
                td(class='pull-right') 0000
              tr
                td(class='pull-left') Intellect:
                td(class='pull-right') 0000
              tr
                td(class='pull-left') Attack Power:
                td(class='pull-right') 0000

      div(class="items_container")
          div(class="item_tooltip")
          // Make this hidden, then show when hovering over item image.
      p(ng-if='!character') This character does not exist.

  include partials/footer.jade
  script(src="/js/charedit_helper.js")
  script(src="/js/charedit_controller.js")
