doctype html
html(ng-app='editApp' ng-cloak)

  include partials/head.jade
  link(rel='stylesheet', type="text/css" href='/stylesheets/char-profile.css')
  script(src="https://cdn.warmane.com/api/tooltip.js")

  body(ng-controller='editctrl' ng-init="cur_view = 'stats'")
      include partials/navbar.jade

      div(class='container' ng-show='character')
        .row
          div(class="col-lg-6 col-md-6 col-sm-6 col-xs-12")
            .char_panel
              .row
                h2(class='pull-center') {{character.name}}
                h5(class='pull-center') {{character.class}}
                p(class='pull-center') #{username}

                a(href="" rel="" id='Head_link')
                  div(class='item_slot pull-left' id='Head_slot'
                      ng-click="set_slot('Head')")
                a(href="" rel="" id='Hands_link')
                  div(class='item_slot pull-right' id='Hands_slot'
                      ng-click="set_slot('Hands')")
              .row
                a(href="" rel="" id='Neck_link')
                  div(class='item_slot pull-left' id='Neck_slot'
                      ng-click="set_slot('Neck')")
                a(href="" rel="" id='Waist_link')
                  div(class='item_slot pull-right' id='Waist_slot'
                      ng-click="set_slot('Waist')")
              .row
                a(href="" rel="" id='Shoulders_link')
                  div(class='item_slot pull-left' id='Shoulders_slot'
                      ng-click="set_slot('Shoulders')")
                a(href="" rel="" id='Legs_link')
                  div(class='item_slot pull-right' id='Legs_slot'
                      ng-click="set_slot('Legs')")
              .row
                a(href="" rel="" id='Back_link')
                  div(class='item_slot pull-left' id='Back_slot'
                      ng-click="set_slot('Back')")
                a(href="" rel="" id='Feet_link')
                  div(class='item_slot pull-right' id='Feet_slot'
                      ng-click="set_slot('Feet')")
              .row
                a(href="" rel="" id='Chest_link')
                  div(class='item_slot pull-left' id='Chest_slot'
                      ng-click="set_slot('Chest')")
                a(href="" rel="" id='Finger1_link')
                  div(class='item_slot pull-right' id='Finger1_slot'
                      ng-click="set_slot('Finger1')")
              .row
                div(class='item_slot pull-left' id='Shirt_slot')
                  img(src='/images/empty-slots/UI-EmptyShirt.png')
                a(href="" rel="" id='Finger2_link')
                  div(class='item_slot pull-right' id='Finger2_slot'
                      ng-click="set_slot('Finger2')")
              .row
                div(class='item_slot pull-left' id='Tabard_slot')
                  img(src='/images/empty-slots/UI-EmptyTabard.png')
                a(href="" rel="" id='Trinket1_link')
                  div(class='item_slot pull-right' id='Trinket1_slot'
                      ng-click="set_slot('Trinket1')")
              .row
                a(href="" rel="" id='Wrist_link')
                  div(class='item_slot pull-left' id='Wrist_slot'
                      ng-click="set_slot('Wrist')")
                a(href="" rel="" id='Trinket2_link')
                  div(class='item_slot pull-right' id='Trinket2_slot'
                      ng-click="set_slot('Trinket2')")
              .row
                ul(class='list-inline')
                  li: a(href="" rel="" id='MainHand_link')
                    div(class='item_slot' id='MainHand_slot'
                        ng-click="set_slot('MainHand')")
                  li: a(href="" rel="" id='OffHand_link')
                    div(class='item_slot' id='OffHand_slot'
                        ng-click="set_slot('OffHand')")
                  li: a(href="" rel="" id='Ranged_link')
                    div(class='item_slot' id='Ranged_slot'
                        ng-click="set_slot('Ranged')")

          div(class="col-lg-6 col-md-6 col-sm-6 col-xs-12")
            if(user)
              -if(username == user.username)
                .page-header
                  ul(class='list-inline')
                      li: input(type='submit' value='Gems'
                                class="view_tab loginmodal-submit"
                                ng-click="cur_view = 'gems'; reset_table()"
                                ng-class="{'selected_view': cur_view == 'gems'}")
                      li: input(type='submit' value='Enchants'
                                class="view_tab loginmodal-submit"
                                ng-click="cur_view = 'enchants'; reset_table()"
                                ng-class="{'selected_view': cur_view == 'enchants'}")
                      li: input(type='submit' value='Items'
                                class="view_tab loginmodal-submit"
                                ng-click="cur_view = 'items'; reset_table()"
                                ng-class="{'selected_view': cur_view == 'items'}")

                div(class='search_container' ng-show="cur_view != 'stats'")
                  .row
                      ul(class='list-inline')
                        li(ng-show="cur_view == 'items'") iLvl
                        li(ng-show="cur_view == 'items'")
                          input(type='text' class='form-control' maxlength=3
                                placeholder='Min' size=3 ng-model='ilvlmin')
                        li(ng-show="cur_view == 'items'")
                          input(type='text' class='form-control' maxlength=3
                                placeholder='Max' size=3 ng-model='ilvlmax')
                        li(ng-show="cur_view == 'gems'") Colour:
                        li(ng-show="cur_view == 'gems'")
                          select(class='form-control' ng-model='gem_colour')
                            option Red
                            option Yellow
                            option Blue
                            option Green
                            option Orange
                            option Purple
                            option Meta
                            option Prismatic
                        li Slot:
                        li: select(class='form-control' ng-model="slot")
                          option MainHand
                          option OffHand
                          option Ranged
                          option Head
                          option Neck
                          option Shoulders
                          option Back
                          option Chest
                          option Wrist
                          option Hands
                          option Waist
                          option Legs
                          option Feet
                          option Finger1
                          option Finger2
                          option Trinket1
                          option Trinket2
                        li: input(type="text" class="form-control" placeholder="Search"
                                  ng-model='search_val' maxlength=30 size=15
                                  ng-keyup="$event.keyCode == 13 && finditems(search_val)")
                        li: button(type="submit" class="btn btn-default"
                                   ng-click="finditems(search_val)") Submit
                      p(id='error-msg') {{error_msg}}
                      p(id='success-msg') {{success_msg}}
                  .row
                    div(class='results_table' ng-show="items.length > 0")
                      table(class='table')
                        thead
                          tr(ng-style="{'background-color': 'white'}")
                            td(ng-if="cur_view != 'enchants'")
                            td: a(href='' ng-click="orderByField='Name';reverseSort=!reverseSort") Name
                            td(ng-if="cur_view == 'items'")
                              a(href='' ng-click="orderByField='RequiredClasses';reverseSort=!reverseSort") Class
                            td: a(href='' ng-click="orderByField='ItemLevel';reverseSort=!reverseSort") Item Level
                            td: a(href='' ng-click="orderByField='Slot';reverseSort=!reverseSort") Slot
                            td(ng-if="cur_view == 'items'")
                              a(href='' ng-click="orderByField='Type';reverseSort=!reverseSort") Type
                        tbody
                            tr(ng-repeat="item in items | orderBy:orderByField:reverseSort"
                               ng-click='select_search_item(item)')
                              td(ng-if="cur_view != 'enchants'")
                                a(target="_blank" ng-href="http://db.warmane.com/wotlk/item={{item.Id}}")
                                  img(ng-src='http://wow.zamimg.com/images/wow' +
                                      '/icons/large/{{item.IconPath}}.jpg')
                              td(ng-style='item_quality(item.Quality)')
                                  {{item.Name}}
                              td(ng-style='class_color(item.RequiredClasses)'
                                 ng-if="cur_view == 'items'")
                                {{item.RequiredClasses}}
                              td {{item.ItemLevel}}
                              td {{item.Slot}}
                              td(ng-if="cur_view == 'items'") {{item.Type}}

                    input(type="submit" value='Unequip' ng-click='unequip_item()'
                          class="unequip_item loginmodal-submit")
                    input(type="submit" value='Equip' ng-click='equip_item()'
                          class="equip_item loginmodal-submit")
                    input(type="submit" value='Save' ng-click='save_to_db()'
                          class="save_item loginmodal-submit")
                    br
                    br
                    ul(class='list-inline')
                      li: a(href="" rel="" id='selected_link')
                        div(class='item_slot' id='selected_slot')
                      li(ng-hide="cur_view != 'gems'")
                        a(href="" rel="" id='selected_gem_link')
                          div(class='item_slot' id='selected_gem_slot')

                    ul(class='list-inline' ng-show="cur_view == 'gems'")
                      li: a(href='' id='socket1_link')
                        div(class='item_slot' id='socket1_slot'
                            ng-click="cur_socket='socket1'")
                      li: a(href='' id='socket2_link')
                        div(class='item_slot' id='socket2_slot'
                            ng-click="cur_socket='socket2'")
                      li: a(href='' id='socket3_link')
                        div(class='item_slot' id='socket3_slot'
                            ng-click="cur_socket='socket3'")

                    p(ng-hide="cur_view != 'gems'") {{cur_socket}}

              -else if(user)
                h4 Viewing #{char} as #{user.username}.

          div(class='clearfix visible sm')
          div(class="col-lg-6 col-md-6 col-sm-6 col-xs-12")
            div(class='stats_container')
              table(id='stats')
                tbody
                  tr(ng-repeat='(key,val) in Stats')
                    td {{key}}
                    td {{val}}

      p(ng-if='!character') This character does not exist.

  include partials/footer.jade
  script(src="/js/charedit_helper.js")
  script(src="/js/charedit_controller.js")
