ul(class='list-inline')
  li
    div(class='talent_bg_container'
    ng-style="{'background-image': 'url(/images/talents/' + character.class + '/' + class_specs[character.class][0] +  '/background.jpg)'}")
      table
        tbody
          tr
          tr
          tr
          tr
          tr
          tr
          tr
          tr
          tr
          tr
          tr
  li
    div(class='talent_bg_container' id='talents-middle'
    ng-style="{'background-image': 'url(/images/talents/' + character.class + '/' + class_specs[character.class][1] +  '/background.jpg)'}")
      table
        tbody
          tr
          tr
          tr
          tr
          tr
          tr
          tr
          tr
          tr
          tr
          tr

  li
    div(class='talent_bg_container' id='talents-right'
    ng-style="{'background-image': 'url(/images/talents/' + character.class + '/' + class_specs[character.class][2] +  '/background.jpg)'}")
      table
        tbody
          tr
            td: div(class='empty_talent_space')
            td: div(
            class='talent'
            ng-style="{'background-image': 'url(/images/talents/' + character.class + '/' + class_specs[character.class][2] +  '/spell_nature_magicimmunity.gif)'}"
            ng-click="add_point('improved_healing_wave')"
            ng-right-click="remove_point('improved_healing_wave')"
            ng-class="{'talent_inactive': is_inactive('improved_healing_wave')}")
              div(class='talent_counter'
              ng-class="{'maxed_talent': is_talent_maxed('improved_healing_wave')}")
                | {{cur_talents.improved_healing_wave}}
            td: div(
            class='talent'
            ng-style="{'background-image': 'url(/images/talents/' + character.class + '/' + class_specs[character.class][2] +  '/spell_nature_moonglow.gif)'}"
            ng-click="add_point('totemic_focus')"
            ng-right-click="remove_point('totemic_focus')"
            ng-class="{'talent_inactive': is_inactive('totemic_focus')}")
              div(class='talent_counter'
              ng-class="{'maxed_talent': is_talent_maxed('totemic_focus')}")
                | {{cur_talents.totemic_focus}}
            td: div(class='empty_talent_space')

          tr
            td: div(class='talent'
            ng-style="{'background-image': 'url(/images/talents/' + character.class + '/' + class_specs[character.class][2] +  '/spell_nature_reincarnation.gif)'}"
            ng-click="add_point('improved_reincarnation')"
            ng-right-click="remove_point('improved_reincarnation')"
            ng-class="{'talent_inactive': is_inactive('improved_reincarnation')}")
              div(class='talent_counter'
              ng-class="{'maxed_talent': is_talent_maxed('improved_reincarnation')}")
                | {{cur_talents.improved_reincarnation}}
            td: div(class='talent'
            ng-style="{'background-image': 'url(/images/talents/' + character.class + '/' + class_specs[character.class][2] +  '/spell_nature_healingtouch.gif)'}"
            ng-click="add_point('healing_grace')"
            ng-right-click="remove_point('healing_grace')"
            ng-class="{'talent_inactive': is_inactive('healing_grace')}")
              div(class='talent_counter'
              ng-class="{'maxed_talent': is_talent_maxed('healing_grace')}")
                | {{cur_talents.healing_grace}}
            td: div(class='talent'
            ng-style="{'background-image': 'url(/images/talents/' + character.class + '/' + class_specs[character.class][2] +  '/spell_frost_manarecharge.gif)'}"
            ng-click="add_point('tidal_focus')"
            ng-right-click="remove_point('tidal_focus')"
            ng-class="{'talent_inactive': is_inactive('tidal_focus')}")
              div(class='talent_counter'
              ng-class="{'maxed_talent': is_talent_maxed('tidal_focus')}")
                | {{cur_talents.tidal_focus}}
            td: div(class='empty_talent_space')

          tr
            td: div(class='talent'
            ng-style="{'background-image': 'url(/images/talents/' + character.class + '/' + class_specs[character.class][2] +  '/ability_shaman_watershield.gif)'}"
            ng-click="add_point('improved_water_shield')"
            ng-right-click="remove_point('improved_water_shield')"
            ng-class="{'talent_inactive': is_inactive('improved_water_shield')}")
              div(class='talent_counter'
              ng-class="{'maxed_talent': is_talent_maxed('improved_water_shield')}")
                | {{cur_talents.improved_water_shield}}
            td: div(class='talent'
            ng-style="{'background-image': 'url(/images/talents/' + character.class + '/' + class_specs[character.class][2] +  '/spell_nature_healingwavelesser.gif)'}"
            ng-click="add_point('healing_focus')"
            ng-right-click="remove_point('healing_focus')"
            ng-class="{'talent_inactive': is_inactive('healing_focus')}")
              div(class='talent_counter'
              ng-class="{'maxed_talent': is_talent_maxed('healing_focus')}")
                | {{cur_talents.healing_focus}}
            td: div(class='talent'
            ng-style="{'background-image': 'url(/images/talents/' + character.class + '/' + class_specs[character.class][2] +  '/spell_frost_frostbolt.gif)'}"
            ng-click="add_point('tidal_force')"
            ng-right-click="remove_point('tidal_force')"
            ng-class="{'talent_inactive': is_inactive('tidal_force')}")
              div(class='talent_counter'
              ng-class="{'maxed_talent': is_talent_maxed('tidal_force')}")
                | {{cur_talents.tidal_force}}
            td: div(class='talent'
            ng-style="{'background-image': 'url(/images/talents/' + character.class + '/' + class_specs[character.class][2] +  '/spell_nature_undyingstrength.gif)'}"
            ng-click="add_point('ancestral_healing')"
            ng-right-click="remove_point('ancestral_healing')"
            ng-class="{'talent_inactive': is_inactive('ancestral_healing')}")
              div(class='talent_counter'
              ng-class="{'maxed_talent': is_talent_maxed('ancestral_healing')}")
                | {{cur_talents.ancestral_healing}}
          tr
            td: div(class='empty_talent_space')
            td: div(class='talent'
            ng-style="{'background-image': 'url(/images/talents/' + character.class + '/' + class_specs[character.class][2] +  '/spell_nature_manaregentotem.gif)'}"
            ng-click="add_point('restorative_totems')"
            ng-right-click="remove_point('restorative_totems')"
            ng-class="{'talent_inactive': is_inactive('restorative_totems')}")
              div(class='talent_counter'
              ng-class="{'maxed_talent': is_talent_maxed('restorative_totems')}")
                | {{cur_talents.restorative_totems}}
            td: div(class='talent'
            ng-style="{'background-image': 'url(/images/talents/' + character.class + '/' + class_specs[character.class][2] +  '/spell_nature_tranquility.gif)'}"
            ng-click="add_point('tidal_mastery')"
            ng-right-click="remove_point('tidal_mastery')"
            ng-class="{'talent_inactive': is_inactive('tidal_mastery')}")
              div(class='talent_counter'
              ng-class="{'maxed_talent': is_talent_maxed('tidal_mastery')}")
                | {{cur_talents.tidal_mastery}}
            td: div(class='empty_talent_space')
          tr
            td: div(class='talent'
            ng-style="{'background-image': 'url(/images/talents/' + character.class + '/' + class_specs[character.class][2] +  '/spell_nature_healingway.gif)'}"
            ng-click="add_point('healing_way')"
            ng-right-click="remove_point('healing_way')"
            ng-class="{'talent_inactive': is_inactive('healing_way')}")
              div(class='talent_counter'
              ng-class="{'maxed_talent': is_talent_maxed('healing_way')}")
                | {{cur_talents.healing_way}}
            td: div(class='empty_talent_space')
            td: div(class='talent'
            ng-style="{'background-image': 'url(/images/talents/' + character.class + '/' + class_specs[character.class][2] +  '/spell_nature_ravenform.gif)'}"
            ng-click="add_point('natures_swiftness')"
            ng-right-click="remove_point('natures_swiftness')"
            ng-class="{'talent_inactive': is_inactive('natures_swiftness')}")
              div(class='talent_counter'
              ng-class="{'maxed_talent': is_talent_maxed('natures_swiftness')}")
                | {{cur_talents.natures_swiftness}}
            td: div(class='talent'
            ng-style="{'background-image': 'url(/images/talents/' + character.class + '/' + class_specs[character.class][2] +  '/spell_nature_focusedmind.gif)'}"
            ng-click="add_point('focused_mind')"
            ng-right-click="remove_point('focused_mind')"
            ng-class="{'talent_inactive': is_inactive('focused_mind')}")
              div(class='talent_counter'
              ng-class="{'maxed_talent': is_talent_maxed('focused_mind')}")
                | {{cur_talents.focused_mind}}
          tr
            td: div(class='empty_talent_space')
            td: div(class='empty_talent_space')
            td: div(class='talent'
            ng-style="{'background-image': 'url(/images/talents/' + character.class + '/' + class_specs[character.class][2] +  '/spell_frost_wizardmark.gif)'}"
            ng-click="add_point('purification')"
            ng-right-click="remove_point('purification')"
            ng-class="{'talent_inactive': is_inactive('purification')}")
              div(class='talent_counter'
              ng-class="{'maxed_talent': is_talent_maxed('purification')}")
                | {{cur_talents.purification}}
            td: div(class='empty_talent_space')
          tr
            td: div(class='talent'
            ng-style="{'background-image': 'url(/images/talents/' + character.class + '/' + class_specs[character.class][2] +  '/spell_nature_natureguardian.gif)'}"
            ng-click="add_point('natures_guardian')"
            ng-right-click="remove_point('natures_guardian')"
            ng-class="{'talent_inactive': is_inactive('natures_guardian')}")
              div(class='talent_counter'
              ng-class="{'maxed_talent': is_talent_maxed('natures_guardian')}")
                | {{cur_talents.natures_guardian}}
            td: div(class='talent'
            ng-style="{'background-image': 'url(/images/talents/' + character.class + '/' + class_specs[character.class][2] +  '/spell_frost_summonwaterelemental.gif)'}"
            ng-click="add_point('mana_tide_totem')"
            ng-right-click="remove_point('mana_tide_totem')"
            ng-class="{'talent_inactive': is_inactive('mana_tide_totem')}")
              div(class='talent_counter'
              ng-class="{'maxed_talent': is_talent_maxed('mana_tide_totem')}")
                | {{cur_talents.mana_tide_totem}}
            td: div(class='talent'
            ng-style="{'background-image': 'url(/images/talents/' + character.class + '/' + class_specs[character.class][2] +  '/ability_shaman_cleansespirit.gif)'}"
            ng-click="add_point('cleanse_spirit')"
            ng-right-click="remove_point('cleanse_spirit')"
            ng-class="{'talent_inactive': is_inactive('cleanse_spirit')}")
              div(class='talent_counter'
              ng-class="{'maxed_talent': is_talent_maxed('cleanse_spirit')}")
                | {{cur_talents.cleanse_spirit}}
            td: div(class='empty_talent_space')
          tr
            td: div(class='talent'
            ng-style="{'background-image': 'url(/images/talents/' + character.class + '/' + class_specs[character.class][2] +  '/spell_shaman_blessingofeternals.gif)'}"
            ng-click="add_point('blessing_of_the_eternals')"
            ng-right-click="remove_point('blessing_of_the_eternals')"
            ng-class="{'talent_inactive': is_inactive('blessing_of_the_eternals')}")
              div(class='talent_counter'
              ng-class="{'maxed_talent': is_talent_maxed('blessing_of_the_eternals')}")
                | {{cur_talents.blessing_of_the_eternals}}
            td: div(class='talent'
            ng-style="{'background-image': 'url(/images/talents/' + character.class + '/' + class_specs[character.class][2] +  '/spell_nature_healingwavegreater.gif)'}"
            ng-click="add_point('improved_chain_heal')"
            ng-right-click="remove_point('improved_chain_heal')"
            ng-class="{'talent_inactive': is_inactive('improved_chain_heal')}")
              div(class='talent_counter'
              ng-class="{'maxed_talent': is_talent_maxed('improved_chain_heal')}")
                | {{cur_talents.improved_chain_heal}}
            td: div(class='talent'
            ng-style="{'background-image': 'url(/images/talents/' + character.class + '/' + class_specs[character.class][2] +  '/spell_nature_natureblessing.gif)'}"
            ng-click="add_point('natures_blessing')"
            ng-right-click="remove_point('natures_blessing')"
            ng-class="{'talent_inactive': is_inactive('natures_blessing')}")
              div(class='talent_counter'
              ng-class="{'maxed_talent': is_talent_maxed('natures_blessing')}")
                | {{cur_talents.natures_blessing}}
            td: div(class='empty_talent_space')
          tr
            td: div(class='talent'
            ng-style="{'background-image': 'url(/images/talents/' + character.class + '/' + class_specs[character.class][2] +  '/spell_shaman_ancestralawakening.gif)'}"
            ng-click="add_point('ancestral_awakening')"
            ng-right-click="remove_point('ancestral_awakening')"
            ng-class="{'talent_inactive': is_inactive('ancestral_awakening')}")
              div(class='talent_counter'
              ng-class="{'maxed_talent': is_talent_maxed('ancestral_awakening')}")
                | {{cur_talents.ancestral_awakening}}
            td: div(class='talent'
            ng-style="{'background-image': 'url(/images/talents/' + character.class + '/' + class_specs[character.class][2] +  '/spell_nature_skinofearth.gif)'}"
            ng-click="add_point('earth_shield')"
            ng-right-click="remove_point('earth_shield')"
            ng-class="{'talent_inactive': is_inactive('earth_shield')}")
              div(class='talent_counter'
              ng-class="{'maxed_talent': is_talent_maxed('earth_shield')}")
                | {{cur_talents.earth_shield}}
            td: div(class='talent'
            ng-style="{'background-image': 'url(/images/talents/' + character.class + '/' + class_specs[character.class][2] +  '/spell_nature_skinofearth.gif)'}"
            ng-click="add_point('improved_earth_shield')"
            ng-right-click="remove_point('improved_earth_shield')"
            ng-class="{'talent_inactive': is_inactive('improved_earth_shield')}")
              div(class='talent_counter'
              ng-class="{'maxed_talent': is_talent_maxed('improved_earth_shield')}")
                | {{cur_talents.improved_earth_shield}}
            td: div(class='empty_talent_space')
          tr
            td: div(class='empty_talent_space')
            td: div(class='talent'
            ng-style="{'background-image': 'url(/images/talents/' + character.class + '/' + class_specs[character.class][2] +  '/spell_shaman_tidalwaves.gif)'}"
            ng-click="add_point('tidal_waves')"
            ng-right-click="remove_point('tidal_waves')"
            ng-class="{'talent_inactive': is_inactive('tidal_waves')}")
              div(class='talent_counter'
              ng-class="{'maxed_talent': is_talent_maxed('tidal_waves')}")
                | {{cur_talents.tidal_waves}}
            td: div(class='empty_talent_space')
            td: div(class='empty_talent_space')
          tr
            td: div(class='empty_talent_space')
            td: div(class='talent'
            ng-style="{'background-image': 'url(/images/talents/' + character.class + '/' + class_specs[character.class][2] +  '/spell_nature_riptide.gif)'}"
            ng-click="add_point('riptide')"
            ng-right-click="remove_point('riptide')"
            ng-class="{'talent_inactive': is_inactive('riptide')}")
              div(class='talent_counter'
              ng-class="{'maxed_talent': is_talent_maxed('riptide')}")
                | {{cur_talents.riptide}}
            td: div(class='empty_talent_space')
            td: div(class='empty_talent_space')
