div(class='gear_view' ng-show="cur_view == 'gear'")
  ul(class='list-inline' id='gear_view_tabs')
    li: input(type='submit' value='GEM'
              class="gear_view_tab loginmodal-submit"
              ng-click="gear_view = 'gems'; reset_table()"
              ng-class="{'selected_gear_view': gear_view == 'gems'}")
    li: input(type='submit' value='ENCHANT'
              class="gear_view_tab loginmodal-submit"
              ng-click="gear_view = 'enchants'; reset_table()"
              ng-class="{'selected_gear_view': gear_view == 'enchants'}")
    li: input(type='submit' value='ITEMS'
              class="gear_view_tab loginmodal-submit"
              ng-click="gear_view = 'items'; reset_table()"
              ng-class="{'selected_gear_view': gear_view == 'items'}")

  div(class='search_container' ng-show="gear_view != 'stats'")
    .row
        ul(class='list-inline')
          li(ng-show="gear_view == 'items'") iLvl
          li(ng-show="gear_view == 'items'")
            input(type='text' class='form-control' maxlength=3
                  placeholder='Min' size=3 ng-model='ilvlmin'
                  ng-keyup="$event.keyCode == 13 && finditems(search_val)")
          li(ng-show="gear_view == 'items'")
            input(type='text' class='form-control' maxlength=3
                  placeholder='Max' size=3 ng-model='ilvlmax'
                  ng-keyup="$event.keyCode == 13 && finditems(search_val)")
          li(ng-show="gear_view == 'gems'") Colour:
          li(ng-show="gear_view == 'gems'")
            select(class='form-control' ng-model='gem_colour')
              option Red
              option Yellow
              option Blue
              option Green
              option Orange
              option Purple
              option Meta
              option Prismatic
          li Slot:
          li: select(class='form-control' ng-model="slot")
            option(ng-show="gear_view=='enchants'") OneHand
            option(ng-show="gear_view=='enchants'") TwoHand
            option(ng-hide="gear_view=='enchants'") MainHand
            option OffHand
            option Ranged
            option Head
            option Neck
            option Shoulders
            option Back
            option Chest
            option Wrist
            option Hands
            option Waist
            option Legs
            option Feet
            option Finger1
            option Finger2
            option Trinket1
            option Trinket2
          li: input(type="text" class="form-control" placeholder="Search"
                    ng-model='search_val' maxlength=30 size=15
                    ng-keyup="$event.keyCode == 13 && finditems(search_val)")
          li: button(type="submit" class="btn btn-default"
                     ng-click="finditems(search_val)") Submit

       ul(class='list-inline')
         li(ng-show="gear_view == 'items'")
           a(href="" id='selected_link')
             div(class='item_slot' id='selected_slot')
         li(ng-show="gear_view == 'gems'")
           a(href="" id='selected_gem_link')
             div(class='item_slot' id='selected_gem_slot')
         li(ng-show="gear_view == 'enchants'")
           a(href="" id='selected_enchant_link')
             div(class='item_slot' id='selected_enchant_slot')

        p(class='error-msg' ng-show="error_msg != ''") {{error_msg}}
        p(class='success-msg' ng-show="success_msg != ''") {{success_msg}}
    .row
      div(class='results_table' ng-show="items.length > 0")
        table(class='table')
          thead
            tr
              td
              td: a(href='' ng-click="orderByField='Name';reverseSort=!reverseSort") Name
              td(ng-show="gear_view == 'items'")
                a(href='' ng-click="orderByField='RequiredClasses';reverseSort=!reverseSort") Class
              td(ng-show="gear_view == 'items'")
                a(href='' ng-click="orderByField='ItemLevel';reverseSort=!reverseSort") Item Level
              td: a(href='' ng-click="orderByField='Slot';reverseSort=!reverseSort") Slot
              td(ng-show="gear_view == 'items'")
                a(href='' ng-click="orderByField='Type';reverseSort=!reverseSort") Type
              td(ng-show="gear_view == 'enchants' || gear_view == 'gems'")
                a(href='' ng-click="orderByField='Requirements';reverseSort=!reverseSort") Requirements
              td(ng-show="gear_view == 'items'")
                a(href='' ng-click="orderByField='Bind';reverseSort=!reverseSort") Bind
          tbody
            tr(ng-repeat="item in items | orderBy:orderByField:reverseSort"
               ng-click='select_search_item(item)' ng-right-click='select_search_item(item); equip_item()')
              td
                a(target="_blank" ng-href="{{item.Id != '' ? 'https://wowgaming.altervista.org/aowow?item='+item.Id : 'https://wowgaming.altervista.org/aowow?spell='+item.SpellId}}")
                  img(ng-src='http://wow.zamimg.com/images/wow' +
                      '/icons/large/{{item.IconPath}}.jpg')
              td(ng-style='item_quality(item.Quality)')
                  {{item.Name}}
              td(ng-style='class_color(item.RequiredClasses)'
                 ng-if="gear_view == 'items'")
                {{item.RequiredClasses}}
              td(ng-if="gear_view == 'items'") {{item.ItemLevel}}
              td {{item.Slot}}
              td(ng-if="gear_view == 'items'") {{item.Type}}
              td(ng-if="gear_view == 'enchants' || gear_view == 'gems'"
                style='text-transform:capitalize;') {{item.Requirements}}
              td(ng-if="gear_view == 'items'") {{item.Bind}}

      ul(class='list-inline')
        li(ng-click='unequip_item()'): h4(class='view_tab' id='reset_talents') Unequip
        li(ng-click='equip_item()'): h4(class='view_tab' id='equip') Equip
        li(ng-click='save_to_db()'): h3(class='view_tab' id='save_talents') Save
